<!DOCTYPE html>
<html>
  <head>
    <title>ShiftMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible fade show mt-2"
          role="alert" style="width:600px; margin:0 auto;">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>