<!DOCTYPE html>
<html>
  <head>
    <title>ShiftMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'shared/header' %>

    <div class="d-flex flex-grow-1">
      <!-- ログイン画面は除外 -->
      <% unless controller_name == "sessions" && action_name == "new" %>
      <!-- サイドバー -->
        <%= render 'shared/sidebar' %>
      <% end %>

      <!-- メインコンテンツ -->
      <main class= "flex-grow-1 p-3">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible fade show mt-2"
              role="alert" style="width:600px; margin:0 auto;">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>